<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpa.safecharge">

    <application
        android:allowBackup="true"
        android:icon="@drawable/safe_charger_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/safe_charger_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.gpa.safecharge.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.gpa.safecharge.BatteryStatusReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>